**
!src/
!Logo/
!docker/
!_output/net10.0/linux-musl-x64/
!_output/net10.0/linux-musl-arm64/
!_output/UI/
!package.json
!package-lock.json
!.npmrc
!frontend/
!tsconfig.json
src/**/*.Test/
src/**/*.Tests/
